<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="nav-link active" aria-current="page" routerLink="/members"
                       routerLinkActive="active">Matches</a>
                </li>
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                </li>
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                </li>

            </ul>

            <ul *ngIf="(accountService.currentUser$ | async)" style="margin-right: 16px; margin-top: 8px;">
                <li class="nav-item dropdown" style="list-style: none;">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Welcome User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <button *ngIf="(accountService.currentUser$ | async)" class="btn btn-outline-success" type="submit"
                    (click)="logout()">Logout</button>
            <form *ngIf="!(accountService.currentUser$ | async)" class="d-flex" #loginForm="ngForm" (ngSubmit)="login()"
                  autocomplete="off">
                <input name="username" class="form-control me-2" type="search" [(ngModel)]="model.username"
                       placeholder="Username">
                <input name="password" class="form-control me-2" type="search" [(ngModel)]="model.password"
                       placeholder="Password">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>
